.food-lists {
	.food-container {
		position: relative;
		.food-item {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			width: 100%;
			height: 130px;
			object-fit: cover;
		}
		.food-price-sale,
		.food-price,
		.food-heading {
			font-size: 16px;
			font-weight: 500;
			text-transform: capitalize;
		}
		.food-heading {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
		}
		.food-price.food-price-line-throungh {
			color: #797575;
			text-decoration: line-through;
		}
		.food-price-sale.none {
			display: none;
		}
		.food-price-sale,
		.food-price {
			font-size: 14px;
			color: #ff5c28;
		}
		.food-price-sale {
			color: #ff5c28;
			margin-left: 8px;
		}
		.food-category {
			color: #797575;
			font-size: 14px;
			text-transform: capitalize;
		}
		.food-footer {
			display: flex;
			justify-content: space-between;
			align-content: center;
		}
		.food-btn {
			background-color: #ff5c28;
			width: 100%;
			border-radius: 8px;
			margin-top: 16px;
		}
		.food-heart {
			position: absolute;
			top: 10px;
			right: 10px;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 20px;
			border-radius: 100rem;
			background-color: rgba($color: #ff5c28, $alpha: 0.5);
			&:hover {
				background-color: rgba($color: #ff5c28, $alpha: 1);
				transition: 0.4s;
			}
			&.active {
				background-color: rgba($color: #ff28b4, $alpha: 0.5);
				color: #ff28b4;
			}
		}
		.food-percent {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba($color: #ff5c28, $alpha: 0.7);
			color: #fff;
			font-size: 12px;
			border-radius: 100rem;
		}
	}
}

:where(.css-dev-only-do-not-override-1mqg3i0) {
	.ant-card {
		border-radius: 20px;
		.ant-card-body {
			padding: 0;
		}
	}
	.ant-image {
		width: 100%;
	}
}
