.layout-container {
	padding: 16px;
	background-color: #fff;
	height: 100%;
	/* space */
	.layout-space {
		&-sm {
			margin: 16px 0;
		}
	}
	/* button */
	.btn-primary {
		background: #ff5c28;
		&:hover {
			background: #ff5c28;
		}
	}
	/* image */
	.image-container {
		height: 100%;
		width: 160px;
		.image {
			height: 160px;
			width: 160px;
			object-fit: cover;
		}
	}
}
