@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$primary-color: #ff5c28;
$black-color: #000;
$white-color: #fff;

@layer base {
	* {
		font-family: 'DM Sans', sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body::-webkit-scrollbar {
		width: 6px;
	}
	body::-webkit-scrollbar-track {
		box-shadow: inset 10px 10px 10px var(--white-color);
		border-radius: 10px;
	}

	body::-webkit-scrollbar-thumb {
		border-radius: 10px;
		box-shadow: inset 10px 10px 10px var(--primary-color);
	}

	body::-webkit-scrollbar-thumb:hover {
		background: #000;
		box-shadow: inset 10px 10px 10px #333;
	}
}
/* custom color buttn */
:where(.css-1mqg3i0) {
	.ant-card {
		.ant-card-body {
			padding: 0;
		}
	}
	.ant-menu-light {
		.ant-menu-item-selected {
			color: $primary-color;
			background-color: transparent;
		}
		& > .ant-menu .ant-menu-item-selected {
			color: $primary-color;
		}
	}
	.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
		color: $primary-color;
	}
	.ant-tabs .ant-tabs-tab:hover {
		color: #ff5c28;
	}
	.ant-image {
		width: 100%;
	}
	.ant-btn-primary {
		background-color: $primary-color;
		&:hover {
			background-color: $primary-color;
		}
	}
}
:where(.css-dev-only-do-not-override-1mqg3i0) {
	.ant-menu-light .ant-menu-item-selected {
		color: rgb(255, 92, 40);
		background-color: rgba(255, 92, 40, 0.1);
	}
	.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
		background-color: rgba(255, 92, 40, 0.1);
	}
	a {
		color: #000;
	}
	.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
	.ant-menu-light {
		& > .ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
			background-color: rgba(255, 92, 40, 0.1);
		}
		& .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
			background-color: rgba(255, 92, 40, 0.1);
		}
		& .ant-menu-submenu-selected > .ant-menu-submenu-title,
		& > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
			color: rgb(255, 92, 40);
			background-color: rgba(255, 92, 40, 0.1);
		}
	}
	.ant-card {
		border-radius: 20px;
		.ant-card-body {
			padding: 0;
		}
	}
	.ant-image {
		width: 100%;
	}
	.ant-btn-primary {
		background-color: $primary-color;
		&:hover {
			background-color: $primary-color;
		}
	}
	.ant-btn-primary:not(:disabled):hover {
		background-color: $primary-color;
	}
	/* input */
	.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
		border-color: $primary-color;
	}
	.ant-input-affix-wrapper:focus,
	.ant-input-affix-wrapper-focused {
		box-shadow: 0 0 0 2px rgba(250, 88, 34, 0.2);
	}
}
@media (max-width: 900px) {
	/* Điều kiện khi kích thước màn hình nhỏ hơn 900px */
	.rotate-message {
		display: block; /* Hiển thị dòng chữ xoay màn hình */
	}
	.loading {
		display: none; /* Ẩn phần loading */
	}
}
@media (max-width: 900px) {
	/* Điều kiện khi kích thước màn hình nhỏ hơn 900px */
	.rotate-message {
		display: block; /* Hiển thị dòng chữ xoay màn hình */
	}
	.loading {
		display: none; /* Ẩn phần loading */
	}
}
